script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/wysihtml5-0.3.0.js')
script(src='/js/bootstrap-wysihtml5.js')
script(src='/js/jquery.tagsinput.min.js')
script(src='/js/bootbox.js')
script(src='/js/app.js')